html, body {
    position: absolute;
    background-color: #eeeeee;
    margin:0;
    height:100%;
    widtH:100%;
}

#root {
    position:fixed;
    width:100%;
    height:100%;
    margin:0;
}

img {
    max-width:100%;
    max-height:100%;
}

.app-container {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* TOOL BAR */
.toolbar > button {
    border: none;
}

.toolbar {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #eeeeee;
    grid-area: 1 / 1 / 2 / 2;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444444;
    font-family: 'VT323', monospace;
    font-size: 28px;
    grid-area: 1 / 7 / 2 / 8;
}

#components-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
}


#profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 13 / 2 / 14;
}

#profile-btn:hover, #components-btn:hover{
    background-color: #444444;
    color: #eeeeee;
}

.unhighlight {
    color: #444444;
    background-color: #eeeeee;
}

.highlight {
    background-color: #444444;
    color: #eeeeee;
}

/* USE AS NEEDED */
/* DIV1 --> .components-btn */
/* .div2 { grid-area: 1 / 2 / 2 / 3; } */
/* .div3 { grid-area: 1 / 3 / 2 / 4; } */
/* .div4 { grid-area: 1 / 4 / 2 / 5; } */
/* .div5 { grid-area: 1 / 5 / 2 / 6; } */
/* .div6 { grid-area: 1 / 6 / 2 / 7; } */
/* DIV7 --> .logo */
/* .div8 { grid-area: 1 / 8 / 2 / 9; } */
/* .div9 { grid-area: 1 / 9 / 2 / 10; } */
/* .div10 { grid-area: 1 / 10 / 2 / 11; } */
/* .div11 { grid-area: 1 / 11 / 2 / 12; } */
/* .div12 { grid-area: 1 / 12 / 2 / 13; } */
/* DIV13 --> .profile-btn */
/* END TOOLBAR */

/* CANVAS AREA AND OVERLAY */
.canvas-area {
    background-color:#eeeeee;
    grid-area: 2 / 1 / 3 / 2;
}

.canvas-overlay {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index:1;
}

.components-area {
    position:relative;
    grid-area: 1 / 1 / 2 / 4;
}

#components-tree {
    background-color:#eeeeee;
    border: 2px solid #444444;
    border-left: none;
    z-index:2;
    width:100%;
}

#components-tree > ul {
    list-style: none;
}

/* USE AS NEEDED */
/* .div1 { grid-area: 1 / 1 / 2 / 4; } */
/* ----> .components-area */

/* .div2 { grid-area: 1 / 4 / 2 / 11; } */
/* .div3 { grid-area: 1 / 11 / 2 / 14; } */
/* END CANVAS */

.hidden {
    display:none;
}

canvas {
    width: 100%;
    height: 100%;
    z-index:10;
}

::-webkit-scrollbar {
    width:0;
    height:0;
    display:none;
}
