html, body {
    position: absolute;
    background-color: #eeeeee;
    margin:0;
    height:100%;
    widtH:100%;
}

#root {
    position:fixed;
    width:100%;
    height:100%;
    margin:0;
}

.app-container {
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.toolbar {
    background-color:red;
    grid-area: 1 / 1 / 2 / 2;
}

.canvas-area {
    background-color:#eeeeee;
    grid-area: 2 / 1 / 3 / 2;
}

::-webkit-scrollbar {
    width:0;
    height:0;
    display:none;
}
