.btn-list {
    padding: 4px;
    display: flex-column;
    align-items: center;
    justify-content: center;
}

#save, #load, #delete {
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cancel {
    background-color: #d7af5f;
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#project-save {
    background-color: #5f8700;
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-load-button {
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#project-title {
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#delete-title {
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.save-project-inputs {
    text-align:center;
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cnf-del {
    background-color: #af0000;
    height:40px;
    width: 100%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    background-color: #444444;
    opacity:0.7;
    color: #eeeeee;
    width: 97%;
    resize:none;
    text-align:center;
    width: 98%;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size:24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-list > button:hover {
    background-color: #5f8700;
}

.g-highlight {
    background-color: #5f8700;
}

img {
    height: 100px;
}
